html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}
#root,
.App {
  height: 100%;
}
body {
 margin: 0px;
 padding: 0px;
}

* {
  touch-action: pan-y;
  box-sizing: border-box;
}
h2,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
/* 解决找房页面，筛选条件弹出，页面还是会 滚动的bug */
.body-fixed {
  overflow: hidden;
}